<h2>Blog Postings</h2>
<%= link_to 'My Scribble', controller: "posts" %>
<br>
<%= link_to 'New Post', new_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <!-- For some reason, link_to did not work for the Destroy function. It just redirected me back to the post page. Button_to works. -->
      <td><%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
